<%- include("partials/header3") -%>

    <!-- GALLERY SECTION -->
    <section class="py-16 px-16 mt-36">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left">
                <div class="text-5xl">
                    <a href="images/E1.jpg">
                        <img src="images/E1.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <a href="images/E2.jpg">
                        <img src="images/E2.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <a href="images/E3.jpg">
                        <img src="images/E3.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <a href="images/E4.jpg">
                        <img src="images/E4.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E5.jpg">
                        <img src="images/E5.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E6.jpg">
                        <img src="images/E6.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E7.jpg">
                        <img src="images/E7.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E8.jpg">
                        <img src="images/E8.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E9.jpg">
                        <img src="images/E9.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E10.jpg">
                        <img src="images/E10.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E11.jpg">
                        <img src="images/E11.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E12.jpg">
                        <img src="images/E12.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E13.jpg">
                        <img src="images/E13.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E14.jpg">
                        <img src="images/E14.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E15.jpg">
                        <img src="images/E15.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E16.jpg">
                        <img src="images/E16.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E17.jpg">
                        <img src="images/E17.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E18.jpg">
                        <img src="images/E18.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E19.jpg">
                        <img src="images/E19.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E20.jpg">
                        <img src="images/E20.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E21.jpg">
                        <img src="images/E21.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E22.jpg">
                        <img src="images/E22.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E23.jpg">
                        <img src="images/E23.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E24.jpg">
                        <img src="images/E24.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E25.jpg">
                        <img src="images/E25.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E26.jpg">
                        <img src="images/E26.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E27.jpg">
                        <img src="images/E27.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E28.jpg">
                        <img src="images/E28.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E29.jpg">
                        <img src="images/E29.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E30.jpg">
                        <img src="images/E30.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E31.jpg">
                        <img src="images/E31.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E32.jpg">
                        <img src="images/E32.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E33.jpg">
                        <img src="images/E33.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/E34.jpg">
                        <img src="images/E34.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer") -%>