<%- include("partials/header") -%>
    <section class="Linear-gradient" id="padding">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col items-left grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
                <h1 class="text-7xl mb-4 text-white bebas">RENDER RISE 3D STUDIO</h1><br />
                <p class="text-white">With the Mum’s Laundry app you can find your nearest store, book a pickup, check on the progress of your laundry and much more!</p>
                <div class="mt-8 flex justify-left items-center">
                    <a href="/contactus">
                        <button class="bg-offwhite py-1 mb-10 px-2 rounded-full flex items-center space-x-4 md:space-x-8 button-text font-bold"><span>Contact Us</span>
                            <div class="rounded-full Yarrow">
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                                   <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                 </svg>  
                            </div>      
                       </button>
                    </a>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <img src="images/3.jpg" alt="Mum's Laundry Family" class="rounded-lg">
            </div>
        </div>
    </section>
    </div>

    <!-- ABOUT US SECTION -->
    <section class="py-16 bg-color" id="blue">
        <h2 class="text-center text-5xl mb-4 bebas mt-8">ABOUT US</h2>
        <p class="text-center text-lg text-gray-600 mb-12">Mum's Laundry is the newest, freshest and cleanest laundry service in <br />the Philippines!</p>
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col justify-center items-left">
                <h1 class="text-5xl mb-4 bebas">Mum’s Laundry reinventing the future of laundry and dry cleaning</h1><br />
                <h4 class="text-xl mb-4 font-bold">Our Mission</h4>
                <p class="mb-4">At Mum’s Laundry, we are dedicated to delivering exceptional laundry services that combine quality, convenience, and care. Through our committed team, eco-friendly practices, and customer-first approach, we aim to simplify laundry for
                    busy families and individuals, providing fresh, clean clothes with a personal touch. We strive to be the trusted partner for all your laundry needs, while empowering communities through franchise opportunities and sustainable business practices.
                </p>
                <h4 class="text-xl mb-4 font-bold">Mission Statement</h4>
                <p>Mum’s laundry is committed to providing convenient, high-quality, and great value laundry and dry-cleaning services to everyone.</p>
            </div>
            <div class="flex flex-col justify-center items-center ">
                <img src="images/2.jpg" class="rounded-lg ">
            </div>
        </div>
    </section>

    <section class="py-16 bg-color" id="blue3">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col justify-center items-center ">
                <img src="images/26.jpg" class="rounded-lg ">
            </div>
            <div class="flex flex-col justify-center items-left">
                <h1 class="text-5xl mb-4 bebas">Our Story</h1><br />
                <h4 class="text-xl mb-4 font-bold">Story behind establishment</h4>
                <p class="mb-4">Mum’s laundry started as a small, family business with a big vision. Now with multiple locations including independently owned <span class="font-bold">Franchise stores,</span> Mum’s Laundry is growing fast.</p>
            </div>
        </div>
    </section>

    <!-- OUR SERVICES -->
    <section class="py-16 text-center bg-color" id="blue">
        <h2 class="text-5xl mb-4 bebas">OUR SERVICES</h2>
        <p class="text-lg text-gray-600 mb-12">Mum's Laundry is the newest, freshest and cleanest laundry service in <br />the Philippines!</p>

        <!-- Services Grid -->
        <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/15.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">Exterior</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/16.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">Interior</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/17.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">3D Floor Plan</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/18.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">2D FLOOR PLAN</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/19.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">ANIMATION</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/20.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">WALKTHROUGH</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/21.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">PHOTOMONTAGE</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/22.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">CUT SECTION</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>
        </div>
    </section>

    <!-- CONTACT US SECTION -->
    <section class="py-16 bg-color" id="blue3">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h2 class="text-5xl mb-4 bebas">Get in touch with us for any queries or feedback.</h2>
                <form class="">
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_first_name" id="floating_first_name" class="black block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="email" name="floating_email" id="floating_email" class=" black block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
                        </div>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="floating_first_name" id="floating_first_name" class=" black block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Subject</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <textarea type="text" name="floating_first_name" id="floating_first_name" class="black block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required></textarea>
                        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
                    </div>
                    <div class="mt-8 flex justify-left items-center">
                        <button type="submit" class="bg-white py-1 px-2 rounded-full flex items-center space-x-4 md:space-x-8 book-btn"><span>Leave a Messsage </span>
                        <div class="rounded-full arrow1">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                               <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                             </svg>  
                        </div>      
                   </button>
                    </div>
                </form>


            </div>
            <div class="flex flex-col justify-center items-center">
                <img src="images/30.jpg" alt="Mum's Laundry Family" class="rounded-lg mb-8">
            </div>
        </div>
    </section>
    <%- include("partials/footer") -%>