<%- include("partials/header") -%>
    <section class="Linear-gradient" id="padding">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col items-left grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
                <h1 class="text-7xl mb-4 text-white bebas">RENDER RISE 3D STUDIO</h1><br />
                <p class="text-white text-justify">Render Rise 3D Studio specializes in creating high-quality 3D visualizations and animations for architecture, products, and immersive experiences.</p>
                <div class="mt-8 flex justify-left items-center">
                    <a href="/contactus">
                        <button class="bg-offwhite py-1 mb-10 px-2 rounded-full flex items-center space-x-4 md:space-x-8 button-text font-bold"><span id="Contact-us">Contact Us</span>
                            <div class="rounded-full Yarrow">
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                                   <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                 </svg>  
                            </div>      
                       </button>
                    </a>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <img src="images/E3.jpg" alt="Home Image" class="rounded-lg mb-12">
            </div>
        </div>
    </section>
    </div>

    <!-- ABOUT US SECTION -->
    <section class="py-16 bg-color" id="blue">
        <h2 class="text-center text-5xl mb-4 bebas mt-8">ABOUT US</h2>
        <p class="text-center text-lg text-gray-600 mb-12 text-justify">Render Rise 3D Studio specializes in creating high-quality 3D visualizations and animations for architecture, products, and immersive experiences.</p>
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col justify-center items-left">
                <h1 class="text-5xl mb-4 bebas">Renderrise: Bringing Your Architectural Visions to Life in Stunning 3D</h1><br />
                <p class="mb-4 text-justify">Founded in 2024 in Pune, Maharashtra, India, Renderrise is a passionate and dynamic full- service 3D architectural visualization studio. We are a dedicated team of creative and technically skilled individuals committed to helping architects,
                    designers, developers, and other amazing clients across Australia, UK, USA, UAE, and the globe transform their architectural projects into breathtaking, photo-realistic 3D visuals.
                </p>
                <p class="text-justify">At Renderrise, we believe in the power of visual storytelling. We go beyond simply creating images; we craft architectural 3D renderings that truly capture the essence of your designs, reflecting a deep understanding of building details
                    and your unique design intent. We seamlessly blend creativity and cutting-edge technology to produce visuals that not only look stunning but also effectively communicate your vision to stakeholders, clients, and potential buyers.</p>
            </div>
            <div class="flex flex-col justify-center items-center">
                <img src="images/E2.jpg" class="rounded-lg ">
            </div>
        </div>
    </section>

    <section class="py-16 bg-color" id="blue3">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col justify-center items-center ">
                <img src="images/I4.jpg" class="rounded-lg ">
            </div>
            <div class="flex flex-col justify-center items-left">
                <p class="mb-4">Don&#39;t just take our word for it – our portfolio speaks for itself! We invite you to explore our range of 3D rendering projects and see the quality and attention to detail we bring to every visualization.</p>
            </div>
        </div>
    </section>

    <!-- OUR SERVICES -->
    <section class="py-16 text-center bg-color" id="blue">
        <h2 class="text-5xl mb-4 bebas">OUR SERVICES</h2>
        <p class="text-lg text-gray-600 mb-12">Render Rise 3D Studio crafts stunning 3D visuals and animations. <br />Have a look once!</p>

        <div class="flex grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 justify-between items-center mt-8 mb-8">
            <!-- 1 -->
            <div class=" bg-white rounded-lg ">
                <a href="#">
                    <img class="rounded-t-lg w-full" src="images/E6.jpg" alt="" />
                </a>
                <div class="p-5">
                    <p class="mb-5 mt-3 text-xl text-black font-bold">Exterior Services</p>
                    <a href="/Exterior" class=" mb-8 inline-flex items-center text-sm font-medium text-center logo-color rounded-lg">
                Explore more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
            </a>
                </div>
            </div>

            <!-- 2 -->
            <div class="bg-white rounded-lg">
                <a href="#">
                    <img class="rounded-t-lg w-full" src="images/I2.jpg" alt="" />
                </a>
                <div class="p-5">
                    <p class="mb-5 mt-3 text-xl text-black font-bold">Interior Services</p>
                    <a href="/Interior" class=" mb-8 inline-flex items-center text-sm font-medium text-center logo-color rounded-lg">
                Explore more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
            </a>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT US SECTION -->
    <section class="py-16 bg-color" id="blue3">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h2 class="text-5xl mb-4 bebas">Get in touch with us for any queries or feedback.</h2>
                <form action="/send-email" method="POST">
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_first_name" id="floating_first_name" class="black block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="email" name="floating_email" id="floating_email" class=" black block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
                        </div>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <textarea type="text" name="floating_first_name" id="floating_first_name" class="black block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required></textarea>
                        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
                    </div>
                    <div class="mt-8 flex justify-left items-center">
                        <button type="submit" id="contact-us" class="bg-white py-1 px-2 rounded-full flex items-center space-x-4 md:space-x-8 book-btn"><span>Leave a Messsage</span>
                        <div class="rounded-full arrow1">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                               <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                             </svg>  
                        </div>      
                   </button>
                    </div>
                </form>


            </div>
            <div class="flex flex-col justify-center items-center">
                <img src="images/E7.jpg" alt="Mum's Laundry Family" class="rounded-lg mb-8">
            </div>
        </div>
    </section>
    <%- include("partials/footer") -%>