<%- include("partials/header3") -%>

    <!-- GALLERY SECTION -->
    <section class="py-16 px-16 mt-36">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-transparent rounded-lg text-left">
                <div class="text-5xl">
                    <a href="images/I1.jpg">
                        <img src="images/I1.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <a href="images/I2.jpg">
                        <img src="images/I2.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <a href="images/I3.jpg">
                        <img src="images/I3.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <a href="images/I4.jpg">
                        <img src="images/I4.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mt-4">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/I5.jpg">
                        <img src="images/I5.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/I6.jpg">
                        <img src="images/I6.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/I7.jpg">
                        <img src="images/I7.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/I8.jpg">
                        <img src="images/I8.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/I9.jpg">
                        <img src="images/I9.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <a href="images/I10.jpg">
                        <img src="images/I10.jpg" alt="Washing Machine" class="rounded-lg" />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer") -%>