<%- include("partials/header3") -%>

    <!-- GALLERY SECTION -->
    <section class="py-16 px-16 mt-36">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
            <div class="bg-transparent rounded-lg text-left">
                <div class="text-5xl">
                    <img src="images/1.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <img src="images/2.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <img src="images/3.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl">
                    <img src="images/4.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
        </div>
        <div class="w-full mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <img src="images/5.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <img src="images/6.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <img src="images/7.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <img src="images/8.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <img src="images/9.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <img src="images/10.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <img src="images/11.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
            <div class="bg-transparent rounded-lg text-left ">
                <div class="text-5xl mb-4">
                    <img src="images/12.jpg" alt="Washing Machine" class="rounded-lg" />
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer") -%>